@viewport {
    orientation: landscape;
}

html,
body,
.container-fluid {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.split-view {
    float: left;
    height: 100%;
}

.splitter {
    width: 5px;
    height: 100%;
    float: left;
    background-color: #eee;
    cursor: ew-resize;
}

.dependent-item {
    margin-left: 20px;
}

.img-dir-title {
    white-space: nowrap;
}

.img-dir-title > .btn {
    padding: 3px 6px;
}

.annotated {
    background: lightgreen;
}

#list {
    overflow: auto;
    width: calc(30% - 2px);
}

#list .name {
    text-overflow: ellipsis;
}

#list .name.editing {
    font-weight: bold;
}

#image {
    position: relative;
    width: calc(70% - 3px);
}

label-img {
    display: block;
    height: 100%;
    overflow: hidden;
}

label-img-tb {
    position: absolute;
    background-color: #eee;
    top: 0;
    left: 2px;
    padding: 2px 5px;
    cursor: all-scroll;
}

label-img-tb > .btn {
    padding: 0 3px;
    margin: 0 3px;
}

.modal-dialog {
    height: 100%;
}

.modal-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    min-height: 280px !important;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-body {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.modal-body > ul {
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (orientation:landscape) {
    .modal-body > ul {
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
}

.form-control-feedback {
    left: 0;
}

.form-control-feedback.fa {
    display: block;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.has-feedback-left .form-control {
    padding-right: 12px;
    padding-left: 28px;
}

li > .form-group {
    margin: 0;
    display: inline-block;
    width: 80%;
}

li > .form-group > input {
    padding-top: 0;
    padding-bottom: 0;
    height: 28px;
}
